
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
  
      body {
        background-image: url(images/pattern-background-desktop.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-color: lightcyan;
        font-family: 'Red Hat Display', sans-serif;
        line-height: 1.6;
        min-height: 100vh;
        min-width: 100vw;
        display: grid;
        place-items: center;
  
            }
  
      .container {
        max-width: 370px;
       background-color: white;
       border-radius: 20px;
      }
  
      .top {
        width: 380px;
      }
  
      .image {
        border-radius: 10px 10px 0px 0px;
        width: 380px;
      }
  
      .card {
        padding: 2em 2em;
      }
  
      .card h2 {
        text-align: center;
        padding-bottom: 12px;
        color: #12203B;
        font-weight: 900;
      }
  
      .card p {
        text-align: center;
        font-size: 16px;
        color: 	#7280a7;
        font-weight: 500;
        line-height: 1.6em;
      }
  
      .data p {
        text-align: center;
        font-size: 13px;
        color: 	#7280a7;
        font-weight: 500;
        line-height: 1.6em;
      }
  
      .text-container {
        padding: 0em 2em;
      }
  
      .plan {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1em;
        background-color: #F8F9FE;
        margin-top: 20px;
      }
  
  
      .anualplan {
        display: flex;
        align-items: center;
        background-color: #F8F9FE;
  
      }
  
      .anualplan h4 {
       font-size: 13px;
       color: #12203B;
      }
  
      /* .anualplan .icon {
        height: 40px;
      } */
  
      .data {
        display: flex;
        flex-direction: column;
        margin-left: 10px;
      }
  
      .button-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1em 0em 0em 0em;
  
      }
  
      .button-payment {
        background-color: #382AE1;
        border-radius: 10px;
        width: 100%;
        padding: 1em 2em;
        border: none;
        cursor: pointer;
        color: white;
        font-weight: 700;
        font-size: 0.9em;
        box-shadow: 0 .5rem .8rem .5rem hsla(245, 75%, 52%, 0.2);;
  
        /* box-shadow: rgba(255, 255, 255, 0.6) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.6) 0px 50px 100px -20px, #382AE1 0px 30px 60px -30px;       */
        }
  
        .button-payment:hover {
          background-color: #766CF1;;
        }
  
      .button-cancel {
        background-color: white;
        border-radius: 10px;
        width: 100%;
        padding: 1em 2em;
        border: none;
        cursor: pointer;
        font-weight: 700;
        font-size: 0.9em;
        color: #7280a7;
      }
  
      .button-change {
        color: #382AE1;
        font-size: 13px;
        font-weight: 900;
      }
  
      @media (max-width: 760px){
  
        body {
          background-image: url(images\pattern-background-mobile.svg);
          min-height: auto;
          min-width: auto;
        }
  
        .container {
        width: 90%;
        }
  
        .top {
          width: 100%;
        }
  
        .image {
          width: 100%;
        }
  
        .button-wrapper {
          padding: 2em 0em 0em 0em;
        }
  
        .card {
        padding: 1.5em;
        }
      }
  
     
  
  
      .attribution { font-size: 11px; text-align: center; }
      .attribution a { color: hsl(228, 45%, 44%); }